.productInputRead {
    background-color:transparent;
    text-decoration:underline;
    color: blue;
    border: none;
    cursor: pointer;
    width:78px;
    height: 22px;
    text-align: right;
    margin:0;
    padding:0;
}

.productInput {
    width:78px;
    text-align: right;
    height: 22px;
    margin:0;
    padding:0;
    box-sizing: border-box;
}