:root {
    --light-face:#F5E6CA;
    --dark-yellow:#FB9300;
    --bright-red:#F54748;
    --dark-blue:#343F56;
    --russian-violet:#38023B;
    --lavender-floral:#A288E3;
    --beau-blue:#BBD5ED;
    --light-cyan:#CEFDFF;
    --tea-green:#CCFFCB;
}

* {
    font-family: 'Shabnam' !important;
}