.toolbar {
    height:80px;
    width:600px;
    background-color:rgb(97, 97, 97)
}

.wrapper {
    height:100px;
    width:600px;
    margin:0 auto 30px;
}

.editor {
    height:100px;
    width:600px;
    background-color:rgb(216, 216, 216);
}